<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
  <dataConfiguration defaultDatabase="Client" />
  <connectionStrings>
    <add name="Client" connectionString="Server=HESL-027\SQLEXPRESS;database=schoolddb;User id=chandanyadav;password=P@123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationOn" value="CUSTOMER"/>
    <!--work when app in client side-->
    <add key="con" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=E:\iAS\TimeWatch.mdb;Jet OLEDB:Database Password=SSS;"/>
    <add key="HeaderTitle" value="Authorization"/>
    <add key="HeaderValue" value="Basic Q2hhbmRhbnlhZGF2OlBAc3N3b3JkMQ=="/>
    <!--<add key="PacketListAddress" value="http://webapi.meet2doctor.com/api/Clientdata/Datapacket"/>-->
    <add key="PacketListAddress" value="http://localhost:50086/api/Clientdata/Datapacket"/>
    <add key="PacketUpdateAddress" value=""/>
    <add key="Customercode" value="BALVEER"/>
    <!--important for client side-->
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>